<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ick.ick_asystent">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".AlarmReciever" />

        <activity
            android:name=".Main"
            android:theme="@style/Theme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Leki"
            android:parentActivityName=".Main"/>
        <activity android:name=".ZamiennikiLekow" />
        <activity android:name=".Rachunki"
            android:parentActivityName=".Main" />
        <activity android:name=".NowyRachunek" />
        <activity android:name=".Zakupy"
            android:parentActivityName=".Main" />
        <activity android:name=".Jedzenie"
            android:parentActivityName=".Main" />
        <activity android:name=".Przepisy" />
        <activity android:name=".PrzepisView" />
        <activity android:name=".Profil"
            android:parentActivityName=".Main" />
        <activity android:name=".Przypomnienia"
            android:parentActivityName=".Main" />
        <activity android:name=".NowyLek" />
        <activity android:name=".ModPosilek" />
        <activity android:name=".Dieta" />
        <activity android:name=".NowyPosilek" />
        <activity android:name=".Raportowanie"
            android:parentActivityName=".Main" />
        <activity android:name=".SzacowanieWydatkow" />
        <activity android:name=".RaportowanieKonf" />
        <activity android:name=".PrzypomnieniaKonf" />
        <activity android:name=".NowePrzypomnienie" />
        <activity android:name=".PrzypomnienieDisplay"/>

        <service
            android:name=".ReportingService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ReportingPopup"
            android:theme="@android:style/Theme.Dialog" />

    </application>

</manifest>