<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ick.ick_asystent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".AlarmReciever"/>
        <activity
            android:name=".Main"
            android:theme="@style/Theme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Leki" />
        <activity android:name=".ZamiennikiLekow" />
        <activity android:name=".Rachunki" />
        <activity android:name=".NowyRachunek" />
        <activity android:name=".Zakupy" />
        <activity android:name=".Jedzenie" />
        <activity android:name=".Przepisy" />
        <activity android:name=".PrzepisView" />
        <activity android:name=".Profil" />
        <activity android:name=".Przypomnienia" />
        <activity android:name=".NowyLek" />
        <activity android:name=".ModPosilek" />
        <activity android:name=".Dieta" />
        <activity android:name=".NowyPosilek" />
        <activity android:name=".Raportowanie" />
        <activity android:name=".SzacowanieWydatkow" />
        <activity android:name=".RaportowanieKonf" />
        <activity android:name=".PrzypomnieniaKonf" />
        <activity android:name=".NowePrzypomnienie" />
    </application>
    <uses-permission android:name="android.permission.SEND_SMS"/>
</manifest>